<div class="header">
        <div class="header-nav">
            <a href="" class="header-logo"><img src="../image/logo.png" alt=""></a>
            <ul class="nav-box">
                <li><a href="">首页</a></li>
                <li><a href="">蛋糕</a></li>
                <li><a href="">面包</a></li>
                <li><a href="">冰淇淋</a></li>
                <li><a href="">咖啡下午茶</a></li>
                <li><a href="">全国送</a></li>
                <li><a href="">企业送</a>  </li>
            </ul>
            <div class="nav-right">
                <a href="" class="header-app">下载APP</a>
               <a href="" class="current-city">北京<i>ii</i></a>
               <a href="" class="header-msg">消息</a>
               <span class="not-login"><a href="" >登录</a>/<a href="">注册</a></span>
               <a href="" class="header-cart">购物车<span>1</span></a>
            </div>
        </div>
    </div>
     